@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

/* アニメーション(右から左)*/
 @keyframes marquee-right {
          0% { transform: translateX(0); }
          100% { transform: translateX(-50%); }
        }

.animate-marquee-right {
          animation: marquee-right 30s linear infinite;
        }
/* アニメーション(左から右)*/
 @keyframes marquee-left {
          0% { transform: translateX(-50%); }
          100% { transform: translateX(0%); }
        }

.animate-marquee-left {
          animation: marquee-left 30s linear infinite;
        }

.start-brown {
  color: #9C6924;
}

.start-yellow{
    color: #FFF0CD
}

.start-red{
    color: #fc7695
}

/* 文字フォント */
.homemax-text {
  font-family: var(--font-kiwi-maru);

  font-weight: 500;

  /* 輪郭（ふち）を指定 */
  -webkit-text-stroke: 3px #0000005f; /* 3pxの黒い輪郭 */
}