/* アニメーション(右から左)*/
 @keyframes marquee-right {
          0% { transform: translateX(0); }
          100% { transform: translateX(-50%); }
        }

.animate-marquee-right {
          animation: marquee-right 30s linear infinite;
        }
/* アニメーション(左から右)*/
 @keyframes marquee-left {
          0% { transform: translateX(-50%); }
          100% { transform: translateX(0%); }
        }

.animate-marquee-left {
          animation: marquee-left 30s linear infinite;
        }
        