@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kiwi+Maru:wght@500&display=swap");
@import "tailwindcss";

@keyframes marquee {

  /* 要素を translateX(100%) で右端の外（画面外）からスタート */
  0% {
    transform: translateX(0);
  }
  /* translateX(-100%) で左端の外（画面外）まで移動 */
  100% {
    transform: translateX(calc(calc(-1 * 20vmin * 30) + 76.5%));
  }
}

/* アニメーションの動き */
.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

.marquee {
  position: relative;
  width: 100%;
  height: 100%;
  top: -80px;
}

.marquee::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50vw;
  width: calc(20vmin * 30);
  height: 500px;
  background-image: url("/src/assets/home.png");
  background-repeat: repeat-x;        /* 横方向リピート */
  background-size: 20vmin 20vmin; /* 縦横100% */
  animation: marquee 10s linear infinite;
  will-change: transform;
  backface-visibility: hidden;
}

/* ホメホメ日記用 */
@layer components {
  .custom-box {
    width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f66f6f;
    background-size: cover;
    background-clip: content-box;
    box-sizing: border-box;
  }

  .before-shape,
  .after-shape {
    content: "";
    position: absolute;
    border: 50px solid transparent;
    box-shadow: 0px 7px 6px -9px black;
  }

  .before-shape {
    border-top-color: #fefefe;
    top: -60px;
    left: -65px;
    transform: rotate(135deg);
    box-shadow: 0px -7px 6px -9px black;
  }

  .after-shape {
    border-bottom-color: #fefefe;
    bottom: -60px;
    right: -65px;
    transform: rotate(135deg);
  }
}


/* 色、フォントの読み込み */
@theme {
  --color-blue: #789DBC;
  --color-blue-dark:#6287a6;
  --color-pink: #FFE3E3;
  --color-pink-dark: #edd1d1;
  --color-white: #FEF9F2;
  --color-white-dark: #ede8e1;
  --color-green: #C9E9D2;
  --color-green-dark: #b8dbc2;

  --font-kiwi-maru: "Kiwi Maru", sans-serif;
  --font-josefin-sans: "Josefin Sans", sans-serif;  
}
  